<h2>Create New Figure</h2>

<form action='/figures' method="POST">
  <label for="figure[name]">Name: </label>
  <input type="text" name="figure[name]" id="figure_name"><br>

  <h2>Titles</h2>

  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="<%= title.id %>" value ="<%= title.id %>"><%= title.name %></input><br>
  <% end %><br>

  <h2>Create New Title</h2>

  <input type="text" name="title[name]" id="title[name]">

  <h2>Landmarks</h2>

  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.id %>" value ="<%= landmark.id %>"><%= landmark.name %></input><br>
  <% end %><br>

  <h2>Create New Landmark</h2>

  <input type="text" name="landmark[name]" id="landmark[name]"><br>

  <input type="submit" name="Create New Figure" id="Create New Figure">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
